.image-modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 300ms;
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--text);
    opacity: 0.2;
  }

  &.modal-visible {
    visibility: visible;
    opacity: 1;
  }

  .image-large {
    position: relative;
    flex: 1 auto;
    margin: 15px;
    z-index: 2;

    > img {
      position: absolute;
      max-height: 100%;
      max-width: 100%;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      margin: 0;
    }

    &.full-size {
      overflow: auto;
      margin: 0px;
      text-align: center;

      > img {
        border-radius: 0;
        max-height: unset;
        max-width: unset;
        position: relative;
        transform: unset;
        left: 0;
        top: 0;
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }

  .thumbnail-container {
    position: relative;
    z-index: 2;
    flex: 0 auto;
    display: flex;
    justify-content: center;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.25));
  }

  .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(0, 0, 0, 0.3);
    padding: 12px;
    display: flex;
    border-radius: 50px;
    transition: background 300ms;
    z-index: 10;

    > svg > * {
      transition: fill 300ms;
    }

    &:hover {
      cursor: pointer;
      background: #fff;

      > svg > * {
        fill: #000;
      }
    }
  }
}
