#resume {
  .my-summary {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .personal-details {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .icon-list {
    .icon-list-item {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      font-size: 15px;

      > .icon {
        height: 20px;
        width: 20px;
        margin-right: 20px;

        > path {
          fill: var(--text-secondary);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .resume-left {
    flex: 0 0 55%;
    max-width: 55%;
  }

  .resume-right {
    flex: 0 0 45%;
    max-width: 45%;
  }
}
