.phone-frame {
    background: black;
    border: 3px transparent solid;
    border-top-width: 6px;
    border-bottom-width: 8px;
    border-radius: 8px;
    transition: opacity 300ms;
    display: flex;

    &.phone-invisible {
        visibility: hidden;
        opacity: 0;
    }

    // &.phone-visible {
    //     visibility: visible;
    //     opacity: 1;
    // }

    img {
        height: 100%;
        border-radius: 6px;
    }
}