#app {
    width: 100%;
    min-height: 100vh;
    padding-top: $nav-bar-height;
    position: relative;

    @include themed() {
        color: t($text);
        background-color: t($bg);

        .logo {
            #prefix__logo-bottom {
                fill: t($logo-secondary);
            }

            #prefix__logo-top {
                fill: t($primary);
            }
        }
    }

    .corner {
        position: absolute;
        top: 0;
        right: 0;

        @include themed() {
            &.corner-top {
                width: 32%;
                opacity: t($corner-top-opacity);
            }

            &.corner-bottom {
                width: 43%;
                opacity: t($corner-bottom-opacity);
            }
        }
    }

    @media screen and (max-width: 768px) {
        padding-top: 0;

        .corner {
            display: none;
        }
    }
}