.image-gallery {
    .image-container {
        display: flex;
        max-height: 400px;
        justify-content: center;
        margin-bottom: 30px;

        .image {
            margin-bottom: 0;
            cursor: pointer;

            &.portrait {
                max-height: 400px;
            }

            &.landscape {
                max-width: 100%;
                flex: 1;
            }
        }

        img {
            display: block;
        }
    }

    .thumbnails-card {
        overflow: hidden;
    }
}