.image-gallery {
    .image-container {
        display: flex;
        max-height: 400px;
        justify-content: center;

        .image {
            margin-bottom: 0;

            &.portrait {
                max-height: 100%;
            }

            &.landscape {
                max-width: 100%;
            }
        }

        picture {
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    .thumbnails-card {
        overflow: hidden;
        margin-top: 30px;

        .thumbnails {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 15px 0;

            @include scrollbar-styles();

            &:after,
            &:before {
                content: ' ';
                min-width: 15px;
            }

            picture {
                display: block;
                margin-right: 20px;
                height: 100px;

                @include themed() {
                    .active {
                        box-shadow: 0px 0px 0px 2px t($primary);
                    }
                }
            }

            picture:last-child {
                margin-right: 0;
            }

            .thumbnail {
                height: 100%;
                cursor: pointer;
            }
        }

    }
}