.project-card {
    overflow: hidden;
    display: flex;

    .project-cover {
        position: relative;
        width: 200px;
        overflow: hidden;

        &.website {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &.app {
            .phone-frame {
                height: 66%;
                position: absolute;
                bottom: 0;

                &.phone-visible {
                    opacity: 0.85;
                }

                &.left {
                    // transform: translate(55%, 20%);
                }

                &.right {
                    right: 0;
                    // transform: translate(-55%, 10%);
                }
            }
        }
    }

    .content {
        padding: 25px;
        text-align: center;

        .title {
            font-size: 24px;
            display: block;
            margin-bottom: 15px;
        }

        .description {
            font-size: 16px;
            display: block;
            color: var(--text-secondary);
        }
    }

    .read-more {
        margin-top: 25px;
    }
}