.nav-bar {
  width: 100%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  z-index: 10;
  transition: background-color 400ms, box-shadow 400ms;
  background-color: var(--card-bg);

  .container {
    height: $nav-bar-height;
  }

  .logo {
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: var(--text);

    @media print {
      font-size: 24px;
    }

    svg {
      margin-right: 15px;
    }
  }

  .nav {
    .link {
      text-decoration: none;
      padding: 0 12px;
      display: flex;
      align-items: center;
      margin-left: 20px;
      position: relative;
      font-size: 15px;
      color: var(--text);

      &:first-child {
        margin-left: 0;
      }

      &:after {
        content: "";
        position: absolute;
        height: 3px;
        left: 0;
        right: 0;
        border-radius: 3px;
        bottom: 12px;
        background-color: transparent;
        transition: background-color 250ms;
      }

      &.active:after,
      &:hover:after {
        background-color: var(--primary);
      }
    }
  }

  @media screen and (min-width: 768px) {
    &.transparent {
      background: transparent;
      box-shadow: none;

      .nav .link {
        color: #fff;

        &.active:after,
        &:hover:after {
          background-color: #fff;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    position: relative;
    box-shadow: none;
    border-bottom: 1px solid var(--card-bg); // TODO: find an alternative

    .container {
      flex-direction: column;
      padding: 15px 0;
      height: auto;

      .logo {
        justify-content: center;
      }

      .nav {
        height: 55px;
        justify-content: space-between;
        margin: 0 5px;
        margin-top: 15px;

        .link {
          margin: 0;
          width: 100%;
          justify-content: center;
          margin: 0 5px;

          &:after {
            bottom: 0;
          }
        }
      }
    }
  }

  @media print {
    .container {
      justify-content: center !important;
    }
  }
}
