:root {
  --primary: #3445e7;
  --secondary: #000;
  --bg: #f6f6f6;
  --card-bg: #fff;
  --text: #000;
  --text-secondary: rgba(0, 0, 0, 0.7);
  --timeline: #aeb4f2;
  --icon-filter: "";
  --logo-primary: #3445e7;
  --logo-secondary: #6645e8;
  --corner-top-opacity: 1;
  --corner-bottom-opacity: 1;
  --scrollbar-thumb: #6d7bff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #9aa4ff;
    --secondary: #fff;
    --bg: #292929;
    --card-bg: #313131;
    --text: #fff;
    --text-secondary: rgba(255, 255, 255, 0.85);
    --timeline: #646464;
    --icon-filter: brightness(0) invert(1);
    --logo-primary: #6d7bff;
    --logo-secondary: #9178f2;
    --corner-top-opacity: 0.35;
    --corner-bottom-opacity: 0.55;
    --scrollbar-thumb: #9aa4ff;
  }
}
