html,
body.no-margin {
  margin: 0;
  min-height: 100%;
  font-family: "Google Sans", Helvetica, Arial, Sans-Serif;
}

section.content {
  padding: 0 15px;
  padding-bottom: 30px;
}

h2.title {
  width: 100%;
  font-weight: normal;
  font-size: 34px;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;

  &:after {
    width: 5px;
    height: 5px;
    margin-bottom: 8px;
  }
}

h3.title {
  width: 100%;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  display: inline-block;

  &:after {
    width: 4px;
    height: 4px;
    margin-bottom: 6px;
  }

  @media print {
    font-size: 22px;
  }
}

h2.title:after,
h3.title:after,
.card-title:after {
  content: "";
  margin-left: 1px;
  border-radius: 50%;
  vertical-align: bottom;
  display: inline-block;
  -webkit-print-color-adjust: exact;
  background-color: var(--primary);
}

.page-content {
  margin-top: 60px;

  @media (max-width: 768px) {
    margin-top: 30px;
  }

  &.small {
    @media (min-width: 992px) {
      max-width: 960px !important;
    }
  }

  @media print {
    width: 100%;
    max-width: 100% !important;
    padding: 0 40px;
  }
}

@media not print {
  .print {
    display: none !important;
  }

  .dont-print {
    display: block;
  }

  .resume-text {
    display: none;
  }
}

@media print {
  .print {
    display: block;
  }

  .dont-print {
    display: none !important;
  }

  .resume-text {
    display: block;
    font-size: 14px;
  }

  h3.title+.resume-text {
    margin-top: 10px;
  }
}