*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border: 1px solid var(--card-bg);
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}